@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul, ol, li {
  list-style: none; }

a {
  text-decoration: none; }

/*header_sub--------------------------*/
#header_sub {
  width: 100%;
  border-bottom: 1px solid #ddd; }
  #header_sub .inner {
    width: 1180px;
    height: 135px;
    margin: 0 auto;
    position: relative; }
    #header_sub .inner h1 {
      position: absolute;
      top: 10px;
      left: 50%;
      transform: translateX(-50%); }
      #header_sub .inner h1 a {
        font: 26px/1 "Noto Sans";
        color: #111; }
    #header_sub .inner .util {
      position: absolute;
      top: 25px;
      left: 0; }
      #header_sub .inner .util a {
        display: inline-block;
        margin-right: 15px; }
      #header_sub .inner .util .btnCall {
        width: 24px;
        height: 20px;
        position: relative; }
        #header_sub .inner .util .btnCall::before {
          content: '';
          display: block;
          width: 100%;
          height: 2px;
          position: absolute;
          top: 0;
          left: 0;
          background: #555; }
        #header_sub .inner .util .btnCall::after {
          content: '';
          display: block;
          width: 100%;
          height: 2px;
          position: absolute;
          bottom: 0;
          left: 0;
          background: #555; }
        #header_sub .inner .util .btnCall span {
          display: block;
          width: 100%;
          height: 2px;
          background: #555;
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          text-indent: -9999px; }
    #header_sub .inner .menuWeb {
      width: 100%; }
      #header_sub .inner .menuWeb #gnb {
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        border-top: 1px solid #ddd; }
        #header_sub .inner .menuWeb #gnb::after {
          content: '';
          display: block;
          clear: both; }
        #header_sub .inner .menuWeb #gnb li {
          width: 20%;
          height: 60px;
          float: left; }
          #header_sub .inner .menuWeb #gnb li a {
            display: block;
            width: 100%;
            height: 100%;
            font: 14px/60px "Noto Sans";
            color: #555;
            text-align: center; }
    #header_sub .inner .lang {
      position: absolute;
      right: 0;
      top: 25px; }
      #header_sub .inner .lang a {
        display: inline-block;
        width: 50px;
        height: 30px;
        font-size: 14px;
        padding-top: 4px;
        color: #ccc;
        text-align: center; }

/*sub_page content--------------------------*/
.content {
  width: 100%;
  padding: 0px 0px 150px;
  position: relative; }
  .content .sub_visual {
    width: 100%;
    height: 300px;
    position: relative;
    margin-bottom: 100px;
    background: #ddd; }
  .content .inner {
    width: 1180px;
    margin: 0 auto;
    position: relative; }
    .content .inner h1 {
      font: normal 32px/1 "Noto Sans";
      color: #000;
      margin-bottom: 10px;
      text-align: center; }
    .content .inner p {
      font: normal 14px/1 "Noto Sans";
      color: #999;
      text-align: center;
      margin-bottom: 40px; }

/*footer_sub--------------------------*/
#footer_sub {
  width: 100%;
  padding-bottom: 100px;
  border-top: 1px solid #ddd; }
  #footer_sub .inner {
    width: 1180px;
    margin: 0 auto;
    position: relative; }
    #footer_sub .inner .linkCompany::after {
      content: '';
      display: block;
      clear: both; }
    #footer_sub .inner .linkCompany li {
      float: left; }
      #footer_sub .inner .linkCompany li a {
        display: inline-block;
        padding: 20px 20px 20px 0;
        font: 15px/1 "Noto Sans";
        color: #333; }
    #footer_sub .inner .linkSns {
      position: absolute;
      top: 13px;
      right: 0; }
      #footer_sub .inner .linkSns::after {
        content: '';
        display: block;
        clear: both; }
      #footer_sub .inner .linkSns li {
        float: left; }
        #footer_sub .inner .linkSns li a {
          display: inline-block;
          font-size: 20px;
          padding-left: 30px;
          color: #aaa; }
  #footer_sub .innerBt {
    width: 100%;
    border-top: 1px solid #ddd; }
    #footer_sub .innerBt .footerBox {
      width: 1180px;
      margin: 0 auto;
      padding-top: 30px;
      position: relative; }
      #footer_sub .innerBt .footerBox::after {
        content: '';
        display: block;
        clear: both; }
      #footer_sub .innerBt .footerBox .leftBox {
        width: 75%;
        float: left; }
        #footer_sub .innerBt .footerBox .leftBox .logo {
          width: 15%;
          float: left;
          border-right: 1px solid #bbb; }
          #footer_sub .innerBt .footerBox .leftBox .logo h1 {
            font: 38px/43px "Noto Sans";
            color: #333; }
        #footer_sub .innerBt .footerBox .leftBox .cs {
          width: 85%;
          float: right;
          padding-left: 60px; }
          #footer_sub .innerBt .footerBox .leftBox .cs i {
            float: left;
            font-size: 32px;
            line-height: 43px;
            color: #444; }
          #footer_sub .innerBt .footerBox .leftBox .cs .csBox {
            float: left;
            padding-left: 15px;
            font: 14px/20px "Noto Sans";
            color: #555; }
            #footer_sub .innerBt .footerBox .leftBox .cs .csBox strong {
              display: block;
              font-size: 20px;
              margin-top: 3px;
              color: #333; }
          #footer_sub .innerBt .footerBox .leftBox .cs .csTime {
            float: left;
            padding-left: 30px;
            font: 14px/20px "Noto Sans";
            color: #888;
            margin-top: 3px; }
        #footer_sub .innerBt .footerBox .leftBox address {
          width: 100%;
          float: left;
          margin-top: 50px;
          font: 12px/20px "Noto Sans";
          color: #777; }
          #footer_sub .innerBt .footerBox .leftBox address p {
            margin-top: 20px;
            color: #999; }
      #footer_sub .innerBt .footerBox .rightBox {
        width: 25%;
        float: right; }
        #footer_sub .innerBt .footerBox .rightBox select {
          width: 100%;
          height: 45px;
          border: none;
          border-bottom: 2px solid #555;
          font: 16px/45px "Noto Sans";
          color: #666; }
        #footer_sub .innerBt .footerBox .rightBox .service {
          width: 100%;
          border: 1px solid #ddd;
          margin-top: 40px;
          padding: 10px 20px; }
          #footer_sub .innerBt .footerBox .rightBox .service p {
            font: 12px/18px "Noto Sans";
            color: #999; }

/*department---------------------------------*/
.department .sub_visual {
  background: url(../img/department/bg5.jpg) no-repeat center/cover; }
.department .inner .wrap {
  width: 100%;
  border-top: 1px solid #ddd;
  margin-top: 20px; }
  .department .inner .wrap::after {
    content: '';
    display: block;
    clear: both; }
  .department .inner .wrap article {
    width: 380px;
    height: 150px;
    margin-right: 20px;
    margin-top: 60px;
    float: left;
    text-align: center; }
    .department .inner .wrap article:nth-of-type(3n) {
      margin-right: 0; }
    .department .inner .wrap article .icon {
      width: 44px;
      height: 44px;
      margin: 0 auto; }
      .department .inner .wrap article .icon img {
        width: 100%;
        height: 100%; }
    .department .inner .wrap article h2 {
      font: bold 16px/1 "Noto Sans";
      color: #333;
      margin-top: 20px; }
    .department .inner .wrap article p {
      display: inline-block;
      font: 14px/1.3 "Noto Sans";
      color: #666;
      padding: 15px 30px;
      box-sizing: border-box; }
.department .inner .team {
  width: 100%; }
  .department .inner .team::after {
    content: '';
    display: block;
    clear: both; }
  .department .inner .team h2 {
    font: normal 32px/1 "Noto Sans";
    color: #000;
    margin-top: 100px;
    margin-bottom: 60px;
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd; }
  .department .inner .team > article {
    width: 295px;
    height: 300px;
    position: relative;
    float: left;
    transition: 0.5s; }
    .department .inner .team > article:hover .teamBox {
      display: block;
      bottom: 0; }
    .department .inner .team > article:hover .pic img {
      filter: grayscale(0%); }
    .department .inner .team > article .pic {
      width: 100%;
      height: 100%; }
      .department .inner .team > article .pic img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: grayscale(100%); }
    .department .inner .team > article .teamBox {
      width: 100%;
      height: 50%;
      position: absolute;
      bottom: -50px;
      left: 0;
      padding: 20px 30px 35px;
      transition: 0.5s;
      display: none; }
      .department .inner .team > article .teamBox h3 {
        font: 20px/1 "Noto Sans";
        color: #fff;
        margin-bottom: 10px; }
      .department .inner .team > article .teamBox span {
        font: 12px/1 "Noto Sans";
        color: #eee;
        letter-spacing: 1px; }
      .department .inner .team > article .teamBox .sns {
        display: inline-block;
        width: 90px;
        height: 30px;
        background: #eee;
        text-align: center;
        margin-top: 30px; }
        .department .inner .team > article .teamBox .sns i {
          font-size: 12px;
          color: #333;
          line-height: 30px;
          padding: 0 5px; }

/*community---------------------------------*/
.community .sub_visual {
  background: url(../img/department/bg1.jpg) no-repeat center/cover; }

/*join---------------------------------*/
.join .sub_visual {
  background-color: burlywood; }

/*gallery---------------------------------*/
.gallery .sub_visual {
  background: url(../img/gallery/bg01.jpg) no-repeat center/cover; }
.gallery .inner .myImg {
  width: 100%;
  height: 1400px;
  position: relative; }
  .gallery .inner .myImg::after {
    content: '';
    display: block;
    clear: both; }
  .gallery .inner .myImg li {
    width: calc(100% / 4);
    position: absolute;
    padding: 12px; }
    .gallery .inner .myImg li a {
      display: block;
      width: 100%;
      height: 350px;
      margin-bottom: 20px; }
      .gallery .inner .myImg li a img {
        width: 100%;
        height: 100%; }
    .gallery .inner .myImg li span {
      display: block;
      font: 12px/1 "Noto Sans";
      color: #666;
      margin-bottom: 5px; }
    .gallery .inner .myImg li h2 {
      font: bold 16px/1.3 "Noto Sans";
      color: #333; }
    .gallery .inner .myImg li:nth-of-type(1) {
      position: absolute;
      top: 0;
      left: 0; }
    .gallery .inner .myImg li:nth-of-type(2) {
      position: absolute;
      top: 0;
      left: 296px; }
    .gallery .inner .myImg li:nth-of-type(3) {
      position: absolute;
      top: 0;
      left: 591px; }
    .gallery .inner .myImg li:nth-of-type(4) {
      position: absolute;
      top: 0;
      right: 0; }
    .gallery .inner .myImg li:nth-of-type(5) {
      position: absolute;
      top: 450px;
      left: 0; }
    .gallery .inner .myImg li:nth-of-type(6) {
      position: absolute;
      top: 251px;
      left: 296px; }
    .gallery .inner .myImg li:nth-of-type(7) {
      position: absolute;
      top: 450px;
      left: 591px; }
    .gallery .inner .myImg li:nth-of-type(8) {
      position: absolute;
      top: 251px;
      right: 0; }
    .gallery .inner .myImg li:nth-of-type(9) {
      position: absolute;
      top: 700px;
      left: 0; }
    .gallery .inner .myImg li:nth-of-type(10) {
      position: absolute;
      top: 700px;
      left: 296px; }
    .gallery .inner .myImg li:nth-of-type(11) {
      position: absolute;
      top: 700px;
      left: 591px; }
    .gallery .inner .myImg li:nth-of-type(12) {
      position: absolute;
      top: 700px;
      right: 0; }
    .gallery .inner .myImg li:nth-of-type(13) {
      position: absolute;
      top: 1150px;
      left: 0; }
    .gallery .inner .myImg li:nth-of-type(14) {
      position: absolute;
      top: 951px;
      left: 296px; }
    .gallery .inner .myImg li:nth-of-type(15) {
      position: absolute;
      top: 1150px;
      left: 591px; }
    .gallery .inner .myImg li:nth-of-type(16) {
      position: absolute;
      top: 951px;
      right: 0; }
    .gallery .inner .myImg li:nth-of-type(2) a, .gallery .inner .myImg li:nth-of-type(4) a, .gallery .inner .myImg li:nth-of-type(5) a, .gallery .inner .myImg li:nth-of-type(7) a, .gallery .inner .myImg li:nth-of-type(10) a, .gallery .inner .myImg li:nth-of-type(12) a, .gallery .inner .myImg li:nth-of-type(13) a, .gallery .inner .myImg li:nth-of-type(15) a {
      height: 150px; }

.pop {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  padding: 80px; }
  .pop img {
    width: 100%;
    height: 100%; }
  .pop span {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    font: bold 14px/1 "Noto Sans";
    color: #fff;
    cursor: pointer; }

/*youtube---------------------------------*/
.youtube .sub_visual {
  background: #ddd; }
.youtube .inner {
  width: 1180px; }
  .youtube .inner .vidGallery {
    width: 100%; }
    .youtube .inner .vidGallery article {
      width: 100%;
      border: 1px solid #ccc;
      padding: 30px;
      margin-bottom: 30px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap; }
      .youtube .inner .vidGallery article a {
        width: 30%; }
        .youtube .inner .vidGallery article a img {
          width: 100%; }
      .youtube .inner .vidGallery article .con {
        width: 65%; }

/*location---------------------------------*/
.location .sub_visual {
  background: #ddd; }
.location .inner #map {
  width: 100%;
  height: 500px; }
.location .inner .branch {
  float: right;
  margin-top: 20px; }
  .location .inner .branch li {
    float: left;
    margin-left: 10px; }
    .location .inner .branch li a {
      display: block;
      width: 200px;
      height: 40px;
      background: #555;
      font: bold 12px/40px "맑은 고딕";
      color: #fff;
      text-align: center; }
    .location .inner .branch li.on a {
      background: #aaa;
      color: #333; }

#header {
  width: 100%;
  border-bottom: 1px solid #ddd; }
  #header .inner {
    width: 1180px;
    height: 135px;
    margin: 0 auto;
    position: relative; }
    #header .inner h1 {
      position: absolute;
      top: 10px;
      left: 50%;
      transform: translateX(-50%); }
      #header .inner h1 a {
        font: 26px/1 "Noto Sans";
        color: #111; }
    #header .inner .util {
      position: absolute;
      top: 25px;
      left: 0; }
      #header .inner .util a {
        display: inline-block;
        margin-right: 15px; }
      #header .inner .util .btnCall {
        width: 24px;
        height: 20px;
        position: relative; }
        #header .inner .util .btnCall::before {
          content: '';
          display: block;
          width: 100%;
          height: 2px;
          position: absolute;
          top: 0;
          left: 0;
          background: #555; }
        #header .inner .util .btnCall::after {
          content: '';
          display: block;
          width: 100%;
          height: 2px;
          position: absolute;
          bottom: 0;
          left: 0;
          background: #555; }
        #header .inner .util .btnCall span {
          display: block;
          width: 100%;
          height: 2px;
          background: #555;
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          text-indent: -9999px; }
    #header .inner .menuWeb {
      width: 100%; }
      #header .inner .menuWeb #gnb {
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        border-top: 1px solid #ddd; }
        #header .inner .menuWeb #gnb::after {
          content: '';
          display: block;
          clear: both; }
        #header .inner .menuWeb #gnb li {
          width: 20%;
          height: 60px;
          float: left; }
          #header .inner .menuWeb #gnb li a {
            display: block;
            width: 100%;
            height: 100%;
            font: 14px/60px "Noto Sans";
            color: #555;
            text-align: center; }
    #header .inner .lang {
      position: absolute;
      right: 0;
      top: 25px; }
      #header .inner .lang a {
        display: inline-block;
        width: 50px;
        height: 30px;
        font-size: 14px;
        padding-top: 4px;
        color: #ccc;
        text-align: center; }

#section {
  width: 100%;
  background: #efefef; }
  #section .inner {
    width: 1180px;
    height: calc(100vh - 136px);
    margin: 0 auto; }

#footer {
  width: 100%;
  padding-bottom: 100px;
  border-top: 1px solid #ddd; }
  #footer .inner {
    width: 1180px;
    margin: 0 auto;
    position: relative; }
    #footer .inner .linkCompany::after {
      content: '';
      display: block;
      clear: both; }
    #footer .inner .linkCompany li {
      float: left; }
      #footer .inner .linkCompany li a {
        display: inline-block;
        padding: 20px 20px 20px 0;
        font: 15px/1 "Noto Sans";
        color: #333; }
    #footer .inner .linkSns {
      position: absolute;
      top: 13px;
      right: 0; }
      #footer .inner .linkSns::after {
        content: '';
        display: block;
        clear: both; }
      #footer .inner .linkSns li {
        float: left; }
        #footer .inner .linkSns li a {
          display: inline-block;
          font-size: 20px;
          padding-left: 30px;
          color: #aaa; }
  #footer .innerBt {
    width: 100%;
    border-top: 1px solid #ddd; }
    #footer .innerBt .footerBox {
      width: 1180px;
      margin: 0 auto;
      padding-top: 30px;
      position: relative; }
      #footer .innerBt .footerBox::after {
        content: '';
        display: block;
        clear: both; }
      #footer .innerBt .footerBox .leftBox {
        width: 75%;
        float: left; }
        #footer .innerBt .footerBox .leftBox .logo {
          width: 15%;
          float: left;
          border-right: 1px solid #bbb; }
          #footer .innerBt .footerBox .leftBox .logo h1 {
            font: 38px/43px "Noto Sans";
            color: #333; }
        #footer .innerBt .footerBox .leftBox .cs {
          width: 85%;
          float: right;
          padding-left: 60px; }
          #footer .innerBt .footerBox .leftBox .cs i {
            float: left;
            font-size: 32px;
            line-height: 43px;
            color: #444; }
          #footer .innerBt .footerBox .leftBox .cs .csBox {
            float: left;
            padding-left: 15px;
            font: 14px/20px "Noto Sans";
            color: #555; }
            #footer .innerBt .footerBox .leftBox .cs .csBox strong {
              display: block;
              font-size: 20px;
              margin-top: 3px;
              color: #333; }
          #footer .innerBt .footerBox .leftBox .cs .csTime {
            float: left;
            padding-left: 30px;
            font: 14px/20px "Noto Sans";
            color: #888;
            margin-top: 3px; }
        #footer .innerBt .footerBox .leftBox address {
          width: 100%;
          float: left;
          margin-top: 50px;
          font: 12px/20px "Noto Sans";
          color: #777; }
          #footer .innerBt .footerBox .leftBox address p {
            margin-top: 20px;
            color: #999; }
      #footer .innerBt .footerBox .rightBox {
        width: 25%;
        float: right; }
        #footer .innerBt .footerBox .rightBox select {
          width: 100%;
          height: 45px;
          border: none;
          border-bottom: 2px solid #555;
          font: 16px/45px "Noto Sans";
          color: #666; }
        #footer .innerBt .footerBox .rightBox .service {
          width: 100%;
          border: 1px solid #ddd;
          margin-top: 40px;
          padding: 10px 20px; }
          #footer .innerBt .footerBox .rightBox .service p {
            font: 12px/18px "Noto Sans";
            color: #999; }

/*# sourceMappingURL=style.css.map */
