/*location---------------------------------*/
.location{
    .sub_visual{
        background:url(../img/location/bg3.jpg) no-repeat bottom/cover;
        filter:saturate(50%);
    }
    .inner{
        .wrap{
            width:100%; margin-bottom:80px;
            &::after{ content:''; display:block; clear:both;}
            .contact{
                width:570px; float:left;
                margin-right:30px; 
                .tit{
                    width:100%; position:relative;
                    h2{
                        font:34px/1.2 $font; color:#333;
                        margin-left:10px;
                        margin-bottom:40px;
                        &::after{
                            content:''; display:block;
                            width:280px; height:1px; background:#C05C7E;
                            position:absolute; top:49%; right:0px;
                        } 
                    }
                }

                article{
                    width:50%;  float:left;
                    margin-bottom:40px; padding:0 20px;
                    &:nth-of-type(even){ padding-left:40px;}
                    >h3{
                        font: 14px/1 $font; color:#555;
                        margin-bottom:15px; letter-spacing: 1px;
                    }
                    >p{
                        font:13px/1.5 $font; color:#888;
                        letter-spacing: 0.8px;
                        
                    }
                    >a{
                        display:inline-block;
                        width:30px; height:30px;
                        i{ font-size: 16px; color:#999;}
                    }
                }
            }
            .comments{
                width:580px; float:left;
                margin-right:0px;
                form{
                    legend{
                        font:24px/1 $font; color:#333;
                        margin-bottom:40px; position:relative;
                        padding-bottom:15px;
                        border-bottom:1px solid #C05C7E;
                    }
                    label{
                        >p{
                            font:14px/1 $font; color:#888;
                            letter-spacing: 1px;
                            margin-bottom:10px;
                        }
                    }
                    input[type=text]{
                        width:100%; height:40px;
                        border:1px solid #ccc;
                        margin-bottom:20px; padding:10px; 
                        font:12px/40px $font; color:#333;
                    }
                    textarea{
                        width:100%; height:100px; padding:10px;  resize:none; font:13px/1 $font; color:#333;
                        border:1px solid #ccc; text-align:top;
                    }
                    .name{
                        width:49%; float:left;
                        margin-right:2%;
                    }
                    .email{
                        width:49%; float:left;
                        margin-right:0;
                    }
                    .message{
                        width:100%; 
                        margin-top:20px; margin-bottom:10px;
                    }
                    .btns{
                        width:100%; float:left;
                        input[type=submit]{
                            width:100%; height:40px;
                            border:1px solid #999;
                            background:#fff;
                            font:14px/40px $font; color:#333;
                            letter-spacing: 2px; cursor: pointer;
                        }

                    }
                }
            }
            
        }
        .wrap2{
            .branch{
                width:100%; height:830px; position:relative;
                dt{
                    width:(100% / 4); height:40px;
                    position:absolute; top:0;
                    text-align:center;
                    &:nth-of-type(1){ left:0; }
                    &:nth-of-type(2){ left:25%; }
                    &:nth-of-type(3){ left:50%; }
                    &:nth-of-type(4){ left:75%; }
                    a{
                        display:block; width:100%; height:100%;
                        border-bottom:2px solid #ddd;
                        font:bold 13px/40px $font; color:#999; text-align:center; transition:0.5s;
                    }
                    &.on{
                        a{
                            border-bottom:2px solid #C05C7E;
                            color:#000;
                        }
                    }
                   
                    
                }
                dd{
                    width:100%; display:none;
                    &#shop1{ display: block; }
                    #map{
                        position:absolute; top:80px; left:0;
                        width:100%; height:500px; 
                    }
                    .shop_infor{
                        width:100%; position:absolute;
                        bottom:0; left:0; 
                        &::after{
                            content:''; display:block; clear:both;
                        }
                        article{
                            width:580px; height: 200px;
                            float:left; margin-right:20px;
                            &:last-child{ margin-right:0px; }
                            h2{
                                font:bold 20px/1 $font; color:#000;
                                border-bottom:1px solid #C05C7E;
                                padding-bottom:15px;
                            }
                            ul{
                                width:100%;
                                li{
                                    width:100%; height:40px;
                                    span{
                                        display:inline-block;
                                        width:10%; height:100%;
                                        font:bold 14px/40px $font; color:#111;
                                        margin-right:10px; vertical-align: top;
                                    }
                                    p{
                                        display:inline-block;
                                        font:14px/40px $font; color:#111;
                                    }
                                }
                            }
                        }
                    }
                }
                
            }
        }
    }
}