/*header_sub--------------------------*/
#header_sub{
    width:100%;
    border-bottom:1px solid #ddd;
    .inner{
        width:1180px;
        height:135px;
        margin:0 auto;
        position:relative;
        h1{
            position:absolute;
            top:10px;
            left:50%;
            transform:translateX(-50%);
            a{
                font:26px/1 $font;
                color:#111;
            }
        }
        .util{
            position:absolute;
            top:25px;
            left:0;
            a{
                display:inline-block;
                margin-right:15px;
              }
            .btnCall{
                width:24px;
                height:20px;
                position:relative;
                &::before{
                    content:''; display:block;
                    width:100%;
                    height:2px;
                    position:absolute;
                    top:0;
                    left:0;
                    background:#555;
                }
                &::after{
                    content:''; display:block;
                    width:100%;
                    height:2px;
                    position:absolute;
                    bottom:0;
                    left:0;
                    background:#555;
                }
                span{
                    display:block;
                    width:100%;
                    height:2px;
                    background:#555;
                    position:absolute;
                    top:50%;
                    left:0;
                    transform:translateY(-50%);
                    text-indent:-9999px;
                }
             }
             
        }
        .menuWeb{
            width:100%;
            #gnb{
                width:100%;
                position:absolute;
                bottom:0;
                left:0;
                border-top:1px solid #ddd;

                &::after{
                    content:''; display:block; clear:both;
                }
                li{
                    width:20%;
                    height:60px;
                    float:left;
                    a{
                        display:block;
                        width:100%;
                        height:100%;
                        font:14px/60px $font;
                        color:#555;
                        text-align:center;
                    }
                }
            }
        }
        .lang{
            position:absolute;
            right:0;
            top:25px;
            a{
                display:inline-block;
                width:50px;
                height:30px;
                font-size:14px;
                padding-top:4px;
                color:#ccc;
                text-align:center;
            }
        }
    }
}

/*sub_page content--------------------------*/
.content{
    width:100%;
    padding:0px 0px 150px;
    position:relative;

    .sub_visual{
        width:100%;
        height:300px;
        position:relative;
        margin-bottom:100px;
        background:#ddd;
    }

    .inner{
        width:1180px;
        margin:0 auto;


        h1{
            font:normal 32px/1 $font;
            color:#000;
            margin-bottom:10px;
            text-align:center;
        }
        >p{
            font: normal 14px/1 $font;
            color:#999;
            text-align:center;
            margin-bottom:40px;
        }
    }

}

/*footer_sub--------------------------*/
#footer_sub{
    width:100%;
    padding-bottom:100px;
    border-top:1px solid #ddd;
    .inner{
        width:1180px;
        margin:0 auto;
        position:relative;
        .linkCompany{
            &::after{
                content:''; display:block; clear:both;
            }
            li{
                float:left;
                a{
                    display:inline-block;
                    padding:20px 20px 20px 0;
                    font:15px/1 $font;
                    color:#333;
                }
            }
        }
        .linkSns{
            position:absolute;
            top:13px;
            right:0;

            &::after{
                content:''; display:block; clear:both;
            }
            li{
                float:left;
                a{
                    display:inline-block;
                    font-size:20px;
                    padding-left:30px;
                    color:#aaa;
                }
            }
        }
    }
    .innerBt{
        width:100%;
        border-top:1px solid #ddd;
        .footerBox{
            width:1180px;
            margin:0 auto;
            padding-top:30px;
            position:relative;
            &::after{
                content:''; display:block; clear:both;
            }
            .leftBox{
                width:75%;
                float:left;
                .logo{
                    width:15%;
                    float:left;
                    border-right:1px solid #bbb;
                    h1{
                        font:38px/43px $font;
                        color:#333;
                    }
                }
                .cs{
                    width:85%;
                    float:right;
                    padding-left:60px;
                    i{
                        float:left;
                        font-size:32px;
                        line-height: 43px;
                        color:#444;
                    }
                    .csBox{
                        float:left;
                        padding-left:15px;
                        font:14px/20px $font;
                        color:#555;
                        strong{
                            display:block;
                            font-size:20px;
                            margin-top:3px;
                            color:#333;
                        }
                    }
                    .csTime{
                        float:left;
                        padding-left:30px;
                        font:14px/20px $font;
                        color:#888;
                        margin-top:3px;
                    }
                }
                address{
                    width:100%;
                    float:left;
                    margin-top:50px;
                    font:12px/20px $font;
                    color:#777;
                    p{
                        margin-top:20px;
                        color:#999;
                    }
                }
            }
            .rightBox{
                width:25%;
                float:right;
                select{
                    width:100%;
                    height:45px;
                    border:none;
                    border-bottom:2px solid #555;
                    font:16px/45px $font;
                    color:#666;
                }
                .service{
                    width:100%;
                    border:1px solid #ddd;
                    margin-top:40px;
                    padding:10px 20px;
                    p{
                        font:12px/18px $font;
                        color:#999;
                    }
                }
            }
        }
    }
}