/*youtube---------------------------------*/
.youtube{
    .sub_visual{
        background:url(../img/youtube/bg1.jpg) no-repeat center/cover;
        filter: saturate(60%);
    }
    .inner{
        width:1180px;
        
        #vidGallery{
            width:100%; position:relative;
            &::after{
                content:''; display:block; clear:both;
            }
            article{
                width:380px; height:400px;
                float:left; position:relative;
                background:#eee; transition:0.5s;
                margin-right:20px; margin-bottom:30px;

                &:nth-of-type(3n){ margin-right:0px; }

                &:hover{
                    a{ filter: grayscale(0); }
                    img{ transform:scale(1.5); }
                    .con{ width:100%; bottom:0px; background:#eee; }
                }
                
                a{
                    display:block; width:100%; height:250px;
                    overflow: hidden; filter:saturate(100%);
                    margin-bottom:20px; transition:0.5s;
                    img { width:100%; transform:scale(1.4); transition:0.5s; }

                }
                .con{
                    width:80%; height:150px;
                    background:#fff; 
                    position:absolute; bottom:20px; left:50%;
                    transform:translateX(-50%); padding:20px 10px;
                    transition:0.5s; 
                    
                    h2{
                        font:700 16px/1.2 $font; color:#000; text-align:center;
                        margin-bottom:10px; letter-spacing: 0.8px; transition:0.5s; 
                    }
                    p{
                        font:13px/1.4 $font; color:#666; text-align:center;
                        margin-bottom:20px; transition:0.5s; 
                    }
                    span{
                        display:block; font:13px/1 $font; color:#999; text-align:center;
                        transition:0.5s; 
                    }
                }
            }
        }
    }
}

.vidpop{
    width:100%; height:100vh;
    background:rgba(0,0,0,0.8);
    position:fixed; top:0; left:0;
    padding:80px; z-index:5;
    iframe{
        width:1200px; height:600px;
        position:relative; top:50%; left:50%;
        transform:translate(-50%,-50%);
    }
    span{
        position:absolute; right:20px; top:20px;
        font:18px/1 $font; color:#fff;
        cursor:pointer;
    }
}