@charset 'utf-8';
@import "reset.scss";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');

$font : "Noto Sans", 'Noto Sans KR';
$titColor:#C05C7E;
$tablet : 1179px;
$mobile : 539px;

@import "sub_layout.scss";
@import "department.scss";
@import "community.scss";
@import "join.scss";
@import "gallery.scss";
@import "youtube.scss";
@import "location.scss";


#header{
    width:100%;
    border-bottom:1px solid #ddd;
    position:relative; z-index:5;
    .inner{
        width:1180px; height:135px;
        margin:0 auto; position:relative;
        h1{
            position:absolute;
            top:10px; left:50%;
            transform:translateX(-50%);
            a{
                font:26px/1 $font;
                color:#111;
            }
        }
        .btnCall{
            width:20px; height:18px;
            position:absolute; top:32px; left:0;
            &::before{
                content:''; display:block;
                width:100%;
                height:2px;
                position:absolute;
                top:0;
                left:0;
                background:#555;
            }
            &::after{
                content:''; display:block;
                width:100%;
                height:2px;
                position:absolute;
                bottom:0;
                left:0;
                background:#555;
            }
            span{
                display:block;
                width:100%;
                height:2px;
                background:#555;
                position:absolute;
                top:50%;
                left:0;
                transform:translateY(-50%);
                text-indent:-9999px;
            }
         }
        .util{
            position:absolute; top:31px; left:31px;
            a{
                display:inline-block;
                width:20px; height:20px;
                margin-right:5px;
                img{ width:100%; height:100%; }
              }
        }
        .menuWeb{
            width:100%;
            #gnb{
                width:100%; font-size:0;
                position:absolute; bottom:0; left:0;
                border-top:1px solid #ddd;

                &::after{
                    content:''; display:block; clear:both;
                }
                >li{
                    width:20%; height:60px; float:left;
                    font-size:0;
                    >a{
                        display:block; width:100%; height:100%;
                        font:14px/60px $font; color:#555;
                        text-align:center; transition:0.5s;
                    }
                    .gnb_2depth{
                        width:1180px; height:220px; padding-top:20px;
                        position:absolute; top:60px; right:0; font-size:0;
                        background:#fff; display:none;
                        &::before{
                            content:''; display:block;
                            width:100%; height:inherit;
                            background:#fff;
                            position:absolute; top:0; left:-100%;
                        }
                        &::after{
                            content:''; display:block;
                            width:100%; height:inherit;
                            background:#fff;
                            position:absolute; top:0; right:-100%;
                        }
                        >.dpe1{
                            width:180px;  text-align:center; float:left;
                            font-size:0;
                            >li{
                                width:100%; padding:0 0 15px 0;
                                a{
                                    font: 14px/1 $font; color:#333;
                                }
                            }
                        }
                        >.dep2{
                            width:180px; float:left; 
                            >li{
                                width:100%; padding:0 0 15px 40px;
                                border-left:1px solid #ddd;
                                strong{
                                    font:700 14px/1 $font; color:#333;
                                }
                                a{
                                    font: 13px/1 $font; color:#333;
                                }
                            }
                        }
                        >.dep3{
                            width:250px; float:left;
                            >li{
                                width:100%; padding:0 0 15px 40px;
                                strong{
                                    font:700 14px/1 $font; color:#333;
                                }
                                a{
                                    font: 13px/1 $font; color:#333;
                                }
                            }
                        }
                        .pic{
                            width:500px; float:left;
                            img{ width:100%; height:150px; object-fit: cover;}
                        }
                        
                    }
                }
            }
        }
        .user{
            position:absolute; right:0; top:35px;
            a{
                display:inline-block;
                width:15px; height:15px;
                margin-left:5px;
                img{width:100%; height:100%;}
            }
        }
    }
}

#visual{ 
    width:100%; height:calc(100vh - 136px);
    border-bottom:1px solid #ddd;
    .inner{
        width:1180px; height:100%; margin:0 auto; position:relative; 
        .wrap{
            width:100%; height:100%;
            &::after{
                content:''; display:block; clear:both;
            }
            .main1{
                width:25%; height:100%; float:left;
                padding-top:100px;
                border-right:1px solid #ddd; position:relative;
                h1{
                    display:inline-block;
                    position:relative;overflow:hidden;
                    span{
                        font:700 34px/1 $font;
                        opacity:0; 
                    }
                    &.tit1{ color:#333; }
                    &.tit2{ color:#C05C7E; }
                }
                p{
                    font:14px/1.6 $font; color:#999;
                    letter-spacing:1px; 
                    margin-top:50px;
                    position:relative; top:0; left:-30px;
                    opacity:0;

                }
                .pic{
                    width:0%; height:200px; position:relative;
                    margin-top:100px; overflow: hidden;
                    img{width:100%; height:100%; object-fit: cover;}
                }
                .sns{
                    width:100%; text-align:center;
                    margin-top:40px; position:absolute; bottom:100px;
                    a{
                        display:inline-block;
                        padding-right:40px;
                        font:700 15px/1 $font; color:#666;
                    }
                }
            }
            .main2{
                width:13%; height:100%; float:left;
                border-right:1px solid #ddd;
                text-align:center;
                p{
                    display:block;
                    width:100%; height:50%; padding:40px;
                    font:700 24px/1 $font; color:#555;
                }
                .num{
                    padding:25px; color:#999;
                    letter-spacing:2px;
                }
            }
            .mySwiper{
                width:62%; height:100%; float:left;
                .swiper-wrapper{
                    width:100%; height:100%;
                    .swiper-slide{
                        width:100%; height:100%;
                        .visual1{
                           width:100%; height:400px; position: relative; margin-bottom:40px; position:relative; top:0;
                            .pic{
                                width:100%; height:100%;
                                position:absolute; bottom:0; right:0;
                                img{
                                    width:100%; height:100%; object-fit:cover;
                                }
                            }
                            &::before{
                                content:''; display:block;
                                width:100%; height:280px; background:#b6dbeb;
                                position:absolute; right:0; bottom:0;
                            }
                        }
                        .main_tit{
                            width:100%; margin-bottom:100px;
                            h2{
                                width:50%; padding-left:60px;
                                font:700 36px/1 $font;
                                letter-spacing: 1px;
                            }
                        }
                        .main_subtit{
                            width:100%;
                            h3{
                                font:700 24px/1 $font; color:#555;
                                padding-left:60px;
                                margin-bottom:30px;
                            }
                            .txt{
                                width:50%; float:left; padding-left:60px;
                                p{
                                    font:14px/2 $font; color:#999;
                                }
                            }
                        }
                    }
                }
            }
            .swiper-button-prev{
                left:auto; right:60px;
                top: 54.5%; bottom:150px;
                filter:grayscale(100%) brightness(1);
                transform: scale(0.4);
            }
            .swiper-button-next{
                left:auto;right:15px;
                top:54.5%; bottom:150px;
                filter:grayscale(100%) brightness(1);
                transform: scale(0.4);
            }

            .swiper-pagination-progressbar{
                width:35%;
                left:auto; right:130px;
                top:54.5%; bottom:150px;
                filter:brightness(0);
            }
        }
    }
}

#brand{
    width:100%; padding:150px 0; background:#fff;
    .inner{
        width:1180px; margin:0 auto;
        position:relative;
        h1{
            font:16px/1 $font; color:#333;
            letter-spacing: 2px; position:relative;
            padding-bottom:30px; margin-bottom:40px;
            transform:translateX(-50px);
            transition:0.5s; opacity:0;
            &::after{
                content:''; display:block;
                width:0px; height:1px;
                background:#C05C7E;
                position:absolute; bottom:0; left:0;
                transition:0.5s 0.2s; opacity:0; 
            }
        }
        .wrap{
            width:100%; position:relative;
            &::after{
                content:''; display:block; clear:both;
            }
            article{
                width:580px; margin-right:20px;
                float:left; position:relative;

                &:last-child{ margin-right:0;}

                h2{
                    font:42px/1.4  $font; color:#333;
                    margin-bottom:30px;
                    transition:0.5s 0.4s; opacity:0; transform:translateY(50px);
                }
                p{
                    font:16px/2 $font; color:#999;
                    margin-bottom:40px; transition:0.5s 0.6s;
                    transform:translateY(50px); opacity:0;
                }
                a{
                    display:inline-block;
                    position:absolute; bottom:0; right:70px;
                    font:14px/1 $font; color:#555;
                    text-align:right; letter-spacing: 2px;
                    border-bottom:1px solid #333;
                    transition:0.5s 0.6s; opacity:0;
                }

                div{
                    width:49%; margin-right:2%; float:left;
                    
                    img{ width:100%; height:100%; object-fit: cover;}
                    &:first-child{ 
                        opacity:0; transform:translateY(-50px); 
                        transition:0.5s 0.2s;
                    }
                    &:last-child{ 
                        margin-right:0; opacity:0; transform:translateY(50px); transition:0.5s 0.2s;
                    }
                }
            }
        }
    }
    &.on{
        .inner{
            h1{
                transform:translateX(0px); opacity:1;
                &::after{
                    width:80px; opacity:1;
                }
               
            }
            .wrap{
                article{
                    h2{
                        opacity:1; transform:translateY(0);
                    }
                    p{
                        opacity:1; transform:translateY(0);
                    }
                    a{
                        opacity:1; 
                    }
                    div{
                        &:first-child{ opacity:1; transform:translateY(0)}
                        &:last-child{ opacity:1; transform:translateY(0)}
                    }
                }
            }
        }
    }
}
 
#service{
    width:100%;  padding:200px 0;
    background:#eeeeee;
    .inner{
        width:1180px; margin:0 auto; position:relative;
        &::after{
            content:''; display:block; clear:both;
        }
        article{
            width:380px; margin-right:20px;
            float:left; opacity:0; transition:0.5s;
            transform:translateY(50px);
            &:last-child{margin-right:0;}

            h1{
                font:14px/1 $font; color:#333;
                letter-spacing: 2px; position:relative;
                padding-bottom:20px; margin-bottom:20px;
                &::after{
                content:''; display:block;
                width:40px; height:1px;
                background:#C05C7E;
                position:absolute; bottom:0; left:0;
                }
            }
            h2{
                font:30px/1 $font; color:#333;
                margin-bottom:20px;
            }
            p{
                font:14px/1.5 $font; color:#888;
                margin-bottom:20px;
            }
            .pic{
                width:100%; height:300px;
                img{ width:100%; height:100%; object-fit: cover;}
            }
        }
    }
    &.on{
        article{
            &:nth-of-type(1){ opacity:1; transition-delay: 0.2s; transform:translateY(0px);}
            &:nth-of-type(2){ opacity:1; transition-delay: 0.4s; transform:translateY(0px);}
            &:nth-of-type(3){ opacity:1; transition-delay: 0.6s; transform:translateY(0px)}
        }
    }
}

#banner{
    width:100%;
    padding:100px 0;
    background:url(../img/main/banner.jpg) no-repeat center/cover fixed;

    .inner{
        width:1180px;
        margin:0 auto;

        h1{
            font:700 26px/1 $font; color:#eee;
            margin-bottom:10px;
            text-align:center;
        }

        p{
            font:16px/1.6 $font; color:#ddd;
            text-align:center;
        }
    }
}

#comment{
    width:100%; padding:200px 0; background:#fff;
    .inner{
        width:1180px; margin:0 auto; position:relative;
        &::after{
            content:''; display:block; clear:both;
        }

        //공통타이틀
        .tit_wrap{
            width:100%; position:relative;
            h1{
                font:14px/1 $font; color:#333;
                letter-spacing: 2px; position:relative;
                padding-bottom:20px; margin-bottom:20px;
                &::after{
                content:''; display:block;
                width:40px; height:1px;
                background:#000;
                position:absolute; bottom:0; left:0;
                }
            }
            h2{
                font:30px/1 $font; color:#333;
                margin-bottom:20px;
            }
            .viewbtn{
                font:12px/2 $font; color:#999;
                position:absolute; bottom:0px; right:0;
                border-bottom:1px solid #ddd;
                letter-spacing: 2px;
            }
        }
        .magazine_wrap{
            width:580px; float:left; margin-right:20px;
            padding-right:10px; position:relative;
            .magazine{
                width:100%; height:400px;
                img{ 
                    width:100%; height:250px; object-fit: cover; 
                    margin-bottom:20px;
                }
                .txt_box{
                    width:100%; height:150px; overflow: hidden;
                    >h3{
                        font:700 26px/1 $font; color:#000;
                        margin-bottom:20px; letter-spacing: 1px;
                    }
                    >p{
                        font:16px/1.5 $font; color:#999;
                        margin-bottom:10px;
                    }
                   
                }
            }
        }

        .news_wrap{
            width:580px; float:left; margin-right:0;
            padding-left:10px;
            ul{
                width:100%; border-top:1px solid #999;
                border-bottom:1px solid #999;

                &::after{
                    content:''; display:block; clear:both;
                }
                li{
                    width:100%; position:relative;
                    border-bottom:1px solid #ddd;
                    float:left; padding:29px 0px;
                    &:last-child{ border-bottom:none; }
                    a{
                        display:block; padding:0 15px;
                        .tit{
                            font:16px/1 $font; color:#555;
                            float:left;
                        }
                        .data{
                            font:14px/1.2 $font; color:#555;
                            float:right;
                        }
                        .day{
                            font: 20px/1 $font; color:#555;
                            float:right; margin-left:5px;
                        }
                    }
                }
            }
        }
    }

}

#footer{
    width:100%;
    padding-bottom:100px;
    border-top:1px solid #ddd;
    .inner{
        width:1180px; margin:0 auto;
        position:relative;
        .linkCompany{
            &::after{
                content:''; display:block; clear:both;
            }
            >li{
                float:left;
                >a{
                    display:inline-block;
                    padding:20px 20px 20px 0;
                    font:15px/1 $font;
                    color:#333;
                }
            }
        }
        .linkSns{
            position:absolute;
            top:13px;
            right:0;

            &::after{
                content:''; display:block; clear:both;
            }
            li{
                float:left;
                a{
                    display:inline-block;
                    font-size:20px;
                    padding-left:30px;
                    color:#aaa;
                }
            }
        }
    }
    .innerBt{
        width:100%;
        border-top:1px solid #ddd;
        .footerBox{
            width:1180px;
            margin:0 auto;
            padding-top:30px;
            position:relative;
            &::after{
                content:''; display:block; clear:both;
            }
            .leftBox{
                width:75%;
                float:left;
                .logo{
                    width:15%;
                    float:left;
                    border-right:1px solid #bbb;
                    h1{
                        font:38px/43px $font;
                        color:#333;
                    }
                }
                .cs{
                    width:85%;
                    float:right;
                    padding-left:60px;
                    i{
                        float:left;
                        font-size:32px;
                        line-height: 43px;
                        color:#444;
                    }
                    .csBox{
                        float:left;
                        padding-left:15px;
                        font:14px/20px $font;
                        color:#555;
                        strong{
                            display:block;
                            font-size:20px;
                            margin-top:3px;
                            color:#333;
                        }
                    }
                    .csTime{
                        float:left;
                        padding-left:30px;
                        font:14px/20px $font;
                        color:#888;
                        margin-top:3px;
                    }
                }
                address{
                    width:100%;
                    float:left;
                    margin-top:50px;
                    font:12px/20px $font;
                    color:#777;
                    p{
                        margin-top:20px;
                        color:#999;
                    }
                }
            }
            .rightBox{
                width:25%;
                float:right;
                select{
                    width:100%;
                    height:45px;
                    border:none;
                    border-bottom:2px solid #555;
                    font:16px/45px $font;
                    color:#666;
                }
                .service{
                    width:100%;
                    border:1px solid #ddd;
                    margin-top:40px;
                    padding:10px 20px;
                    p{
                        font:12px/18px $font;
                        color:#999;
                    }
                }
            }
        }
    }
}

#navi{
    position:fixed; top:50%; right:50px;
    transform:translateY(-50%);
    li{
        margin:20px 0;
        a{
            display:block; width:10px; height:10px;
            border-radius: 5px;
            background:#888;
                transition:0.5s; 
                &.on{
                    background:#111;
                    height:60px;
                } 
        }
    }
}

#popup{
    width:100%; height:100vh; background:rgba(255,255,255,0.4);
    position:fixed; top:0; left:0; z-index:6;
    .content{
        width:400px; height:250px;
        padding:60px 20px; background:#000;
        position:absolute; top:50%; left:50%;
        transform:translate(-50%,-50%);        text-align:center; 
        margin-top:20px;
        &::after{
            content:''; display:block; clear:both;
        }
        p{
            font:48px/1 $font; color:#fff;
        }
        span{
            font:12px/1 $font; color:#ccc;
        
        }
        .bottom{
            width:100%; padding:10px 20px;
            position:absolute; bottom:20px; left:0;
            .wrap{
                float:left;
                font:12px/1 $font; color:#eee;
            }
            .close{
                float:right; font:12px/1 "arial";
                color:#eee;
            }
        }
        
    }
    
}

@media screen and (max-width:$tablet){
/*header----------------------------------*/
#header{
    .inner{
        width:100%; height:80px; font-size:0;
        h1{
            top:50%; transform:translate(-50%,-50%);
        }
        .btnCall{
            position:absolute; top:50%; left:20px;
            transform:translateY(-50%);
            }
        
        .util{
            top:50%; left:55px; transform:translateY(-50%);
        }
        .menuWeb{
            #gnb{ display:none; }
        }
        .user{
            top:50%; right:20px; transform:translateY(-50%);
        }
    }
} 

#brand{
    padding:100px 0 150px 0;
    .inner{
        width:100%;
        .wrap{
            padding:0 30px;
            article{
                width:100%;
                &:nth-of-type(1){
                    transform:translateY(-100px);
                    transition-delay: 0.4s;
                }
                &:last-child{
                    transform:translateY(100px);
                    transition-delay: 0.6s;
                }
            }
        }
    }
}
     
#product{
    padding:100px 0 50px 0;
    .product_tit{
        width:100%; 
    }
    .inner{
        .swiper-wrapper{
            width:100%; height:100%; 
        }
    }
}

#banner{
    padding:80px 0;
    .inner{
        width:100%;
        p{
            font-size:14px;
        }
    }
}

#comment{
    width:100%; padding:150px 0px; background:#fff;
    .inner{
        width:100%;  padding:0 30px;

        .magazine_wrap{
            width:100%; padding-right:0px; 
            margin-bottom:30px;
            .magazine{
                width:100%; height:400px;
            }
        }

        .news_wrap{
            width:100%; padding-left:0px;

        }
    }

}

/*footer----------------------------------*/
#footer{
    .inner{
        width:100%; padding:0 20px;
        .linkCompany{
            display:none;
        }
        .linkSns{
            width:100%; 
            position:relative; top:0; right:20px;
            li{
                float:right;
                a{
                    padding:10px 0 10px 30px;
                }
            }
            
        }
    }
    .innerBt{
        padding:0 20px;
        .footerBox{
            width:100%;
            .leftBox{
                width:100%;
                .logo{
                    width:20%; border-right:none;
                    h1{
                        font-size:30px;
                    }
                }
                .cs{
                    width:80%; border-left:1px solid #ddd; padding-left:60px;
                    i{ font-size:24px; }
                }
                address{ margin-top:20px; }
            }
            .rightBox{
                width:100%;
                select{
                    width:100%; font-size:14px; margin-top:20px;
                }
                .service{ margin-top:20px; }
            }
        }
    }
}

#navi{
    right:10px;
    li{
        margin:15px 0;
    }
}

} 

@media screen and (max-width:$mobile){
/*header----------------------------------*/
#header{
    .inner{
        width:100%; height:80px; font-size:0;
        h1{
            a{
                font-size:24px;
            }
        }
        
        .util{
            display:none;
        }
        .menuWeb{
            #gnb{ display:none; }
        }
        .user{
            display:none;
        }
    }
} 

#brand{
    .inner{
        width:100%;
        h1{ font-size:26px; }
        .wrap{
            padding:0 30px;
            article{
                width:100%;
                &:nth-of-type(1){
                    transform:translateY(-100px);
                    transition-delay: 0.4s;
                }
                &:last-child{
                    transform:translateY(100px);
                    transition-delay: 0.6s;
                }
                a{height:500px;
                    >img{width:100%; height:100%; object-fit: cover;}
                    .txt{
                        left:15px; top:330px;
                        h2{
                            font-size:20px;
                        }
                        span{
                            width:100%; height:40px;
                            font:14px/40px $font;

                            &::after{
                                width:7px; height:7px;
                            }
                        }
                    }
                }
            }
        }
    }
}
     
#product{
    padding:100px 0 50px 0;
    .product_tit{
        h1{
            font-size:26px;
        }
    }

    .inner{
        .swiper-wrapper{
            .swiper-slide{
                width:300px; height:450px;padding:20px; 
                .pic{
                    height:250px; 
                }
                h2{
                    font:26px/1.3 $font;
                }
               
            }
        }
        .swiper-button-next{
            left:auto; right:20px;
            top:auto; bottom:300px; 
            transform:scale(0.5);
        }
        .swiper-button-prev{
            left:auto; right:60px;
            top:auto; bottom:300px; 
            transform:scale(0.5);
        }
    }
}

#banner{
    .inner{
        width:100%;
        h1{
            font-size:20px; line-height: 1.2;
        }
        p{
            font-size:12px;
        }
    }
}

#comment{
    padding:80px 0px;
    .inner{
        .tit_wrap{
            h1{font-size:26px; }
            .viewbtn{ font-size:12px; }
        }
        .magazine_wrap{
            width:100%; padding-right:0px; 
            margin-bottom:30px;
            .magazine{
                width:100%; height:400px;
                .txt_box{
                    left:20px;
                    p{ font-size: 14px; }
                    h2{ font-size:18px; }
                }
            }
        }

        .news_wrap{
            ul{
                li{
                    padding:20px 0;
                    a{
                        .tit{ width:100%; font:13px/1.2 $font; margin-bottom:10px; }
                        .day { font-size: 14px; }
                        .data { font-size: 10px; }
                    }
                }
            }
        }
    }

}
/*footer----------------------------------*/
#footer{
    .inner{
        width:100%; padding:0 20px;
        .linkCompany{
            display:none;
        }
        .linkSns{
            width:100%; 
            position:relative; top:0; right:20px;
            li{
                float:right;
                a{
                    padding:10px 0 10px 30px;
                }
            }
            
        }
    }
    .innerBt{
        .footerBox{
            .leftBox{
                .logo{
                    h1{ font-size:26px; }
                }
                .cs{
                    padding-left:20px;
                    .csBox {
                        font-size:13px;
                        strong{ font-size:18px; }
                    }
                    .csTime { font-size:12px; padding-left:0;}
                    i{ font-size:24px; }
                }
            }
        }
    }
} 
}