@charset 'utf-8';
@import "reset.scss";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');

$font : "Noto Sans", 'Noto Sans KR';
$titColor:#C05C7E;
$tablet : 1179px;
$mobile : 539px;

@import "sub_layout.scss";
@import "department.scss";
@import "community.scss";
@import "join.scss";
@import "gallery.scss";
@import "youtube.scss";
@import "location.scss";


#header{
    width:100%;
    border-bottom:1px solid #ddd;
    position:relative; z-index:5;
    .inner{
        width:1180px; height:135px;
        margin:0 auto; position:relative;
        h1{
            position:absolute;
            top:10px; left:50%;
            transform:translateX(-50%);
            a{
                font:26px/1 $font;
                color:#111;
            }
        }
        .btnCall{
            width:20px; height:18px;
            position:absolute; top:32px; left:0;
            &::before{
                content:''; display:block;
                width:100%;
                height:2px;
                position:absolute;
                top:0;
                left:0;
                background:#555;
            }
            &::after{
                content:''; display:block;
                width:100%;
                height:2px;
                position:absolute;
                bottom:0;
                left:0;
                background:#555;
            }
            span{
                display:block;
                width:100%;
                height:2px;
                background:#555;
                position:absolute;
                top:50%;
                left:0;
                transform:translateY(-50%);
                text-indent:-9999px;
            }
         }
        .util{
            position:absolute; top:31px; left:31px;
            a{
                display:inline-block;
                width:20px; height:20px;
                margin-right:5px;
                img{ width:100%; height:100%; }
              }
        }
        .menuWeb{
            width:100%;
            #gnb{
                width:100%;
                position:absolute; bottom:0; left:0;
                border-top:1px solid #ddd;

                &::after{
                    content:''; display:block; clear:both;
                }
                >li{
                    width:20%;
                    height:60px;
                    float:left;
                    >a{
                        display:block;
                        width:100%;
                        height:100%;
                        font:14px/60px $font;
                        color:#555;
                        text-align:center;
                    }
                    .sub{
                        width:1180px; height:180px;
                        position:absolute; top:60px; right:0;
                        background:#fff; display:none;
                        &::before{
                            content:''; display:block;
                            width:100%; height:180px;
                            background:#fff;
                            position:absolute; top:0; left:-100%;
                        }
                        &::after{
                            content:''; display:block;
                            width:100%; height:180px;
                            background:#fff;
                            position:absolute; top:0; right:-100%;
                        }
                    }
                }
            }
        }
        .user{
            position:absolute; right:0; top:35px;
            a{
                display:inline-block;
                width:15px; height:15px;
                margin-left:5px;
                img{width:100%; height:100%;}
            }
        }
    }
}

#visual{
    width:100%; height:calc(100vh - 136px);
    background:#aaa;
}

#brand{
    width:100%; padding:120px 0 200px 0; background:#fff;
    .inner{
        width:1180px; margin:0 auto;
        position:relative;
        h1{
            font:32px/1 $font; color:$titColor;
            margin-bottom:60px; text-align:center;
            transform:translateY(50px);
            opacity:0; transition:0.5s; transition-delay: 0.2s;
        }
        .wrap{
            width:100%; position:relative;
            &::after{content:''; display:block; clear:both; }
            article{
                width:590px; float:left;
                opacity:0;  transition:1s; transition-delay: 0.4s;
                &:nth-of-type(1){
                    transform:translateY(-100px);
                }
                &:last-child{
                    transform:translateY(100px);
                }
                a{
                    display:block;
                    width:100%; height:580px;
                    >img{width:100%; height:100%; object-fit: cover;}
                    .txt{
                        position:absolute;
                        left:60px; top:380px;
                        h2{
                            font:700 26px/1.4 $font; color:#fff;
                            margin-bottom:20px;
                        }
                        span{
                            display:block; position:relative;
                            width:200px; height:50px;
                            font:18px/50px $font; color:#fff;
                            padding:0 15px;
                            background:#907FA4; 
                            &::after{
                                content:''; display:block;
                                position:absolute; top:50%; right:20px;
                                width:9px; height:9px;
                                border-top:1px solid #fff;
                                border-left:1px solid #fff;
                                transform:rotate(135deg);
                                margin-top:-4px;
                            }
                        }
                    }
                }
            }
        }
    }
    &.on{
        .inner{
            h1{ opacity:1; transform:translateY(0); }
            .wrap{
                article{
                    opacity:1;
                    &:nth-of-type(1){
                        transform:translateY(0);
                    }
                    &:last-child{
                        transform:translateY(30px);
                    }
                }
            }
        }
    }
}
     
#product{
    width:100%; height:100vh; overflow:hidden;
    padding:120px 0;
    background:#ddd; position: relative;
    .product_tit{
        width:1180px; margin:0 auto;
        >h1{
            font:32px/1 $font; color:$titColor;
            margin-bottom:60px; text-align:center;
            transform:translateY(50px);
            opacity:0; transition:0.5s; transition-delay: 0.2s;
        }
    }
    .inner{
        width:100%;  height:100%; margin:0 auto;
        padding:50px 0; position:relative; top:50%;
        transform:translateY(-25%);
         opacity:0; transition: 1s; transition-delay: 0.4s;
        .swiper-wrapper{
            width:100%; height:100%; 
            .swiper-slide{
                width:400px; height:450px;
                background:#fff; padding:30px; 
                .pic{
                    width:100%; height:280px; margin-bottom:10px;
                    img{width:100%; height:100%; object-fit: cover;}
                }
                h2{
                    font:32px/1 $font; color:#333;
                    margin-bottom:10px;
                }
                p{
                    font:13px/1.3 $font; color:#aaa;
                    letter-spacing: 1px;
                }
                
            }
        }
    }
    .swiper-button-next{
        filter: grayscale(100%) brightness(3);
    }
    .swiper-button-prev{
        filter: grayscale(100%) brightness(3);
    }

    &.on{
        .product_tit{
            >h1{ opacity:1; transform:translateY(0); }
        }
        .inner{
            opacity:1; transform:translateY(-50%);
            .swiper-wrapper{
                .swiper-slide{
                    opacity:0.7; 
                    &-active{ opacity:1; }   
                }
                
            }
            
        }
    }
}

#banner{
    width:100%;
    padding:100px 0;
    background:url(../img/main/banner.jpg) no-repeat center/cover fixed;

    .inner{
        width:1180px;
        margin:0 auto;

        h1{
            font:bold 26px/1 $font;
            color:#eee;
            margin-bottom:10px;
            text-align:center;
        }

        p{
            font:16px/1.3 $font;
            color:#ddd;
            text-align:center;
        }
    }
}

#comment{
    width:100%; padding:200px 0; background:#fff;
    .inner{
        width:1180px; margin:0 auto; position:relative;
        &::after{
            content:''; display:block; clear:both;
        }

        //공통타이틀
        .tit_wrap{
            width:100%; margin-bottom:20px;
            h1{
                display:inline-block;
                font:32px/1 $font; color:$titColor;
            }
            .viewbtn{
                font:15px/2.8 $font; color:#999;
                float:right;
            }
        }
        .magazine_wrap{
            width:580px; float:left; margin-right:20px;
            padding-right:10px; position:relative;
            .magazine{
                width:100%; height:398px;
                img{ width:100%; height:100%; object-fit: cover; }
                .txt_box{
                    position:absolute;
                    top:320px; left:60px;
                    >p{
                        font:16px/1 $font; color:#fff;
                        margin-bottom:10px;
                    }
                    >h2{
                        font:22px/1.3 $font; color:#fff;
                    }
                }
            }
        }

        .news_wrap{
            width:580px; float:left; margin-right:0;
            padding-left:10px;
            ul{
                width:100%; border-top:1px solid #999;
                border-bottom:1px solid #999;

                &::after{
                    content:''; display:block; clear:both;
                }
                li{
                    width:100%; position:relative;
                    border-bottom:1px solid #ddd;
                    float:left; padding:29px 0px;
                    &:last-child{ border-bottom:none; }
                    a{
                        display:block; padding:0 15px;
                        .tit{
                            font:16px/1 $font; color:#888;
                            float:left;
                        }
                        .data{
                            font:14px/1.2 $font; color:#907FA4;
                            float:right;
                        }
                        .day{
                            font: 20px/1 $font; color:#907FA4;
                            float:right; margin-left:5px;
                        }
                    }
                }
            }
        }
    }

}

#footer{
    width:100%;
    padding-bottom:100px;
    border-top:1px solid #ddd;
    .inner{
        width:1180px; margin:0 auto;
        position:relative;
        .linkCompany{
            &::after{
                content:''; display:block; clear:both;
            }
            >li{
                float:left;
                >a{
                    display:inline-block;
                    padding:20px 20px 20px 0;
                    font:15px/1 $font;
                    color:#333;
                }
            }
        }
        .linkSns{
            position:absolute;
            top:13px;
            right:0;

            &::after{
                content:''; display:block; clear:both;
            }
            li{
                float:left;
                a{
                    display:inline-block;
                    font-size:20px;
                    padding-left:30px;
                    color:#aaa;
                }
            }
        }
    }
    .innerBt{
        width:100%;
        border-top:1px solid #ddd;
        .footerBox{
            width:1180px;
            margin:0 auto;
            padding-top:30px;
            position:relative;
            &::after{
                content:''; display:block; clear:both;
            }
            .leftBox{
                width:75%;
                float:left;
                .logo{
                    width:15%;
                    float:left;
                    border-right:1px solid #bbb;
                    h1{
                        font:38px/43px $font;
                        color:#333;
                    }
                }
                .cs{
                    width:85%;
                    float:right;
                    padding-left:60px;
                    i{
                        float:left;
                        font-size:32px;
                        line-height: 43px;
                        color:#444;
                    }
                    .csBox{
                        float:left;
                        padding-left:15px;
                        font:14px/20px $font;
                        color:#555;
                        strong{
                            display:block;
                            font-size:20px;
                            margin-top:3px;
                            color:#333;
                        }
                    }
                    .csTime{
                        float:left;
                        padding-left:30px;
                        font:14px/20px $font;
                        color:#888;
                        margin-top:3px;
                    }
                }
                address{
                    width:100%;
                    float:left;
                    margin-top:50px;
                    font:12px/20px $font;
                    color:#777;
                    p{
                        margin-top:20px;
                        color:#999;
                    }
                }
            }
            .rightBox{
                width:25%;
                float:right;
                select{
                    width:100%;
                    height:45px;
                    border:none;
                    border-bottom:2px solid #555;
                    font:16px/45px $font;
                    color:#666;
                }
                .service{
                    width:100%;
                    border:1px solid #ddd;
                    margin-top:40px;
                    padding:10px 20px;
                    p{
                        font:12px/18px $font;
                        color:#999;
                    }
                }
            }
        }
    }
}

#navi{
    position:fixed; top:50%; right:50px;
    transform:translateY(-50%);
    li{
        margin:20px 0;
        a{
            display:block; width:10px; height:10px;
            border-radius: 5px;
            background:#888;
                transition:0.5s; 
                &.on{
                    background:#111;
                    height:60px;
                } 
        }
    }
}

#popup{
    width:100%; height:100vh; background:rgba(255,255,255,0.4);
    position:fixed; top:0; left:0; z-index:6;
    .content{
        width:400px; height:250px;
        padding:60px 20px; background:#000;
        position:absolute; top:50%; left:50%;
        transform:translate(-50%,-50%);        text-align:center; 
        margin-top:20px;
        &::after{
            content:''; display:block; clear:both;
        }
        p{
            font:48px/1 $font; color:#fff;
        }
        span{
            font:12px/1 $font; color:#ccc;
        
        }
        .bottom{
            width:100%; padding:10px 20px;
            position:absolute; bottom:20px; left:0;
            .wrap{
                float:left;
                font:12px/1 $font; color:#eee;
            }
            .close{
                float:right; font:12px/1 "arial";
                color:#eee;
            }
        }
        
    }
    
}

@media screen and (max-width:$tablet){
/*header----------------------------------*/
#header{
    .inner{
        width:100%; height:80px; font-size:0;
        h1{
            top:50%; transform:translate(-50%,-50%);
        }
        .btnCall{
            position:absolute; top:50%; left:20px;
            transform:translateY(-50%);
            }
        
        .util{
            top:50%; left:55px; transform:translateY(-50%);
        }
        .menuWeb{
            #gnb{ display:none; }
        }
        .user{
            top:50%; right:20px; transform:translateY(-50%);
        }
    }
} 

#brand{
    padding:100px 0 150px 0;
    .inner{
        width:100%;
        .wrap{
            padding:0 30px;
            article{
                width:100%;
                &:nth-of-type(1){
                    transform:translateY(-100px);
                    transition-delay: 0.4s;
                }
                &:last-child{
                    transform:translateY(100px);
                    transition-delay: 0.6s;
                }
            }
        }
    }
}
     
#product{
    padding:100px 0 50px 0;
    .product_tit{
        width:100%; 
    }
    .inner{
        .swiper-wrapper{
            width:100%; height:100%; 
        }
    }
}

#banner{
    padding:80px 0;
    .inner{
        width:100%;
        p{
            font-size:14px;
        }
    }
}

#comment{
    width:100%; padding:150px 0px; background:#fff;
    .inner{
        width:100%;  padding:0 30px;

        .magazine_wrap{
            width:100%; padding-right:0px; 
            margin-bottom:30px;
            .magazine{
                width:100%; height:400px;
            }
        }

        .news_wrap{
            width:100%; padding-left:0px;

        }
    }

}

/*footer----------------------------------*/
#footer{
    .inner{
        width:100%; padding:0 20px;
        .linkCompany{
            display:none;
        }
        .linkSns{
            width:100%; 
            position:relative; top:0; right:20px;
            li{
                float:right;
                a{
                    padding:10px 0 10px 30px;
                }
            }
            
        }
    }
    .innerBt{
        padding:0 20px;
        .footerBox{
            width:100%;
            .leftBox{
                width:100%;
                .logo{
                    width:20%; border-right:none;
                    h1{
                        font-size:30px;
                    }
                }
                .cs{
                    width:80%; border-left:1px solid #ddd; padding-left:60px;
                    i{ font-size:24px; }
                }
                address{ margin-top:20px; }
            }
            .rightBox{
                width:100%;
                select{
                    width:100%; font-size:14px; margin-top:20px;
                }
                .service{ margin-top:20px; }
            }
        }
    }
}

#navi{
    right:10px;
    li{
        margin:15px 0;
    }
}

} 

@media screen and (max-width:$mobile){
/*header----------------------------------*/
#header{
    .inner{
        width:100%; height:80px; font-size:0;
        h1{
            a{
                font-size:24px;
            }
        }
        
        .util{
            display:none;
        }
        .menuWeb{
            #gnb{ display:none; }
        }
        .user{
            display:none;
        }
    }
} 

#brand{
    .inner{
        width:100%;
        h1{ font-size:26px; }
        .wrap{
            padding:0 30px;
            article{
                width:100%;
                &:nth-of-type(1){
                    transform:translateY(-100px);
                    transition-delay: 0.4s;
                }
                &:last-child{
                    transform:translateY(100px);
                    transition-delay: 0.6s;
                }
                a{height:500px;
                    >img{width:100%; height:100%; object-fit: cover;}
                    .txt{
                        left:15px; top:330px;
                        h2{
                            font-size:20px;
                        }
                        span{
                            width:100%; height:40px;
                            font:14px/40px $font;

                            &::after{
                                width:7px; height:7px;
                            }
                        }
                    }
                }
            }
        }
    }
}
     
#product{
    padding:100px 0 50px 0;
    .product_tit{
        h1{
            font-size:26px;
        }
    }

    .inner{
        .swiper-wrapper{
            .swiper-slide{
                width:300px; height:450px;padding:20px; 
                .pic{
                    height:250px; 
                }
                h2{
                    font:26px/1.3 $font;
                }
               
            }
        }
        .swiper-button-next{
            left:auto; right:20px;
            top:auto; bottom:300px; 
            transform:scale(0.5);
        }
        .swiper-button-prev{
            left:auto; right:60px;
            top:auto; bottom:300px; 
            transform:scale(0.5);
        }
    }
}

#banner{
    .inner{
        width:100%;
        h1{
            font-size:20px; line-height: 1.2;
        }
        p{
            font-size:12px;
        }
    }
}

#comment{
    padding:80px 0px;
    .inner{
        .tit_wrap{
            h1{font-size:26px; }
            .viewbtn{ font-size:12px; }
        }
        .magazine_wrap{
            width:100%; padding-right:0px; 
            margin-bottom:30px;
            .magazine{
                width:100%; height:400px;
                .txt_box{
                    left:20px;
                    p{ font-size: 14px; }
                    h2{ font-size:18px; }
                }
            }
        }

        .news_wrap{
            ul{
                li{
                    padding:20px 0;
                    a{
                        .tit{ width:100%; font:13px/1.2 $font; margin-bottom:10px; }
                        .day { font-size: 14px; }
                        .data { font-size: 10px; }
                    }
                }
            }
        }
    }

}
/*footer----------------------------------*/
#footer{
    .inner{
        width:100%; padding:0 20px;
        .linkCompany{
            display:none;
        }
        .linkSns{
            width:100%; 
            position:relative; top:0; right:20px;
            li{
                float:right;
                a{
                    padding:10px 0 10px 30px;
                }
            }
            
        }
    }
    .innerBt{
        .footerBox{
            .leftBox{
                .logo{
                    h1{ font-size:26px; }
                }
                .cs{
                    padding-left:20px;
                    .csBox {
                        font-size:13px;
                        strong{ font-size:18px; }
                    }
                    .csTime { font-size:12px; padding-left:0;}
                    i{ font-size:24px; }
                }
            }
        }
    }
} 
}